*{
  box-sizing:border-box;
}


body{
  font-family:-apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  line-height:1.5;
  margin:0;
  color:#111;
  background-color:#fff;
}


img{
  max-width:100%;
  height:auto;
}


svg{
  max-height:100%;
}


a{
  color:#07c;
}


h1, h2, h3,
h4, h5, h6{
  font-weight:600;
  line-height:1.25;
  margin-top:1em;
  margin-bottom:.5em;
}


h1{ font-size:32px; font-size:2rem }


h2{ font-size:24px; font-size:1.5rem }


h3{ font-size:20px; font-size:1.25rem }


h4{ font-size:16px; font-size:1rem }


h5{ font-size:14px; font-size:.875rem }


h6{ font-size:12px; font-size:.75rem }


p, dl, ol, ul, pre, blockquote{
  margin-top:1em;
  margin-bottom:1em;
}


code,
pre,
samp{
  font-family:'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}


code, samp{
  font-size:87.5%;
  padding:.125em;
}


pre{
  font-size:87.5%;
  overflow:scroll;
}


blockquote{
  font-size:20px;
  font-size:1.25rem;
  font-style:italic;
  margin-left:0;
}


hr{
  margin-top:1.5em;
  margin-bottom:1.5em;
  border:0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#ccc;
}


.h1{ font-size:32px; font-size:2rem }


.h2{ font-size:24px; font-size:1.5rem }


.h3{ font-size:20px; font-size:1.25rem }


.h4{ font-size:16px; font-size:1rem }


.h5{ font-size:14px; font-size:.875rem }


.h6{ font-size:12px; font-size:.75rem }


.inline{ display:inline }


.block{ display:block }


.inline-block{ display:inline-block }


.table{ display:table }


.table-cell{ display:table-cell }


.overflow-hidden{ overflow:hidden }


.overflow-scroll{ overflow:scroll }


.overflow-auto{ overflow:auto }


.clearfix:before,
.clearfix:after{
  content:" ";
  display:table
}


.clearfix:after{ clear:both }


.left{ float:left }


.right{ float:right }


.fit{ max-width:100% }


.max-width-1{ max-width:384px; max-width:24rem }


.max-width-2{ max-width:512px; max-width:32rem }


.max-width-3{ max-width:768px; max-width:48rem }


.max-width-4{ max-width:1024px; max-width:64rem }


.border-box{ box-sizing:border-box }


.m0{ margin:0 }


.mt0{ margin-top:0 }


.mr0{ margin-right:0 }


.mb0{ margin-bottom:0 }


.ml0{ margin-left:0 }


.mx0{ margin-left:0; margin-right:0 }


.my0{ margin-top:0; margin-bottom:0 }


.m1{ margin:8px; margin:.5rem }


.mt1{ margin-top:8px; margin-top:.5rem }


.mr1{ margin-right:8px; margin-right:.5rem }


.mb1{ margin-bottom:8px; margin-bottom:.5rem }


.ml1{ margin-left:8px; margin-left:.5rem }


.mx1{ margin-left:8px; margin-left:.5rem; margin-right:8px; margin-right:.5rem }


.my1{ margin-top:8px; margin-top:.5rem; margin-bottom:8px; margin-bottom:.5rem }


.m2{ margin:16px; margin:1rem }


.mt2{ margin-top:16px; margin-top:1rem }


.mr2{ margin-right:16px; margin-right:1rem }


.mb2{ margin-bottom:16px; margin-bottom:1rem }


.ml2{ margin-left:16px; margin-left:1rem }


.mx2{ margin-left:16px; margin-left:1rem; margin-right:16px; margin-right:1rem }


.my2{ margin-top:16px; margin-top:1rem; margin-bottom:16px; margin-bottom:1rem }


.m3{ margin:32px; margin:2rem }


.mt3{ margin-top:32px; margin-top:2rem }


.mr3{ margin-right:32px; margin-right:2rem }


.mb3{ margin-bottom:32px; margin-bottom:2rem }


.ml3{ margin-left:32px; margin-left:2rem }


.mx3{ margin-left:32px; margin-left:2rem; margin-right:32px; margin-right:2rem }


.my3{ margin-top:32px; margin-top:2rem; margin-bottom:32px; margin-bottom:2rem }


.m4{ margin:64px; margin:4rem }


.mt4{ margin-top:64px; margin-top:4rem }


.mr4{ margin-right:64px; margin-right:4rem }


.mb4{ margin-bottom:64px; margin-bottom:4rem }


.ml4{ margin-left:64px; margin-left:4rem }


.mx4{ margin-left:64px; margin-left:4rem; margin-right:64px; margin-right:4rem }


.my4{ margin-top:64px; margin-top:4rem; margin-bottom:64px; margin-bottom:4rem }


.mxn1{ margin-left:-8px; margin-left:-.5rem; margin-right:-8px; margin-right:-.5rem; }


.mxn2{ margin-left:-16px; margin-left:-1rem; margin-right:-16px; margin-right:-1rem; }


.mxn3{ margin-left:-32px; margin-left:-2rem; margin-right:-32px; margin-right:-2rem; }


.mxn4{ margin-left:-64px; margin-left:-4rem; margin-right:-64px; margin-right:-4rem; }


.ml-auto{ margin-left:auto }


.mr-auto{ margin-right:auto }


.mx-auto{ margin-left:auto; margin-right:auto; }


.p0{ padding:0 }


.pt0{ padding-top:0 }


.pr0{ padding-right:0 }


.pb0{ padding-bottom:0 }


.pl0{ padding-left:0 }


.px0{ padding-left:0; padding-right:0 }


.py0{ padding-top:0;  padding-bottom:0 }


.p1{ padding:8px; padding:.5rem }


.pt1{ padding-top:8px; padding-top:.5rem }


.pr1{ padding-right:8px; padding-right:.5rem }


.pb1{ padding-bottom:8px; padding-bottom:.5rem }


.pl1{ padding-left:8px; padding-left:.5rem }


.py1{ padding-top:8px; padding-top:.5rem; padding-bottom:8px; padding-bottom:.5rem }


.px1{ padding-left:8px; padding-left:.5rem; padding-right:8px; padding-right:.5rem }


.p2{ padding:16px; padding:1rem }


.pt2{ padding-top:16px; padding-top:1rem }


.pr2{ padding-right:16px; padding-right:1rem }


.pb2{ padding-bottom:16px; padding-bottom:1rem }


.pl2{ padding-left:16px; padding-left:1rem }


.py2{ padding-top:16px; padding-top:1rem; padding-bottom:16px; padding-bottom:1rem }


.px2{ padding-left:16px; padding-left:1rem; padding-right:16px; padding-right:1rem }


.p3{ padding:32px; padding:2rem }


.pt3{ padding-top:32px; padding-top:2rem }


.pr3{ padding-right:32px; padding-right:2rem }


.pb3{ padding-bottom:32px; padding-bottom:2rem }


.pl3{ padding-left:32px; padding-left:2rem }


.py3{ padding-top:32px; padding-top:2rem; padding-bottom:32px; padding-bottom:2rem }


.px3{ padding-left:32px; padding-left:2rem; padding-right:32px; padding-right:2rem }


.p4{ padding:64px; padding:4rem }


.pt4{ padding-top:64px; padding-top:4rem }


.pr4{ padding-right:64px; padding-right:4rem }


.pb4{ padding-bottom:64px; padding-bottom:4rem }


.pl4{ padding-left:64px; padding-left:4rem }


.py4{ padding-top:64px; padding-top:4rem; padding-bottom:64px; padding-bottom:4rem }


.px4{ padding-left:64px; padding-left:4rem; padding-right:64px; padding-right:4rem }


.col{
  float:left;
  box-sizing:border-box;
}


.col-right{
  float:right;
  box-sizing:border-box;
}


.col-1{
  width:8.33333%;
}


.col-2{
  width:16.66667%;
}


.col-3{
  width:25%;
}


.col-4{
  width:33.33333%;
}


.col-5{
  width:41.66667%;
}


.col-6{
  width:50%;
}


.col-7{
  width:58.33333%;
}


.col-8{
  width:66.66667%;
}


.col-9{
  width:75%;
}


.col-10{
  width:83.33333%;
}


.col-11{
  width:91.66667%;
}


.col-12{
  width:100%;
}


@media (min-width: 40em){

  .sm-col{
    float:left;
    box-sizing:border-box;
  }

  .sm-col-right{
    float:right;
    box-sizing:border-box;
  }

  .sm-col-1{
    width:8.33333%;
  }

  .sm-col-2{
    width:16.66667%;
  }

  .sm-col-3{
    width:25%;
  }

  .sm-col-4{
    width:33.33333%;
  }

  .sm-col-5{
    width:41.66667%;
  }

  .sm-col-6{
    width:50%;
  }

  .sm-col-7{
    width:58.33333%;
  }

  .sm-col-8{
    width:66.66667%;
  }

  .sm-col-9{
    width:75%;
  }

  .sm-col-10{
    width:83.33333%;
  }

  .sm-col-11{
    width:91.66667%;
  }

  .sm-col-12{
    width:100%;
  }

}


@media (min-width: 52em){

  .md-col{
    float:left;
    box-sizing:border-box;
  }

  .md-col-right{
    float:right;
    box-sizing:border-box;
  }

  .md-col-1{
    width:8.33333%;
  }

  .md-col-2{
    width:16.66667%;
  }

  .md-col-3{
    width:25%;
  }

  .md-col-4{
    width:33.33333%;
  }

  .md-col-5{
    width:41.66667%;
  }

  .md-col-6{
    width:50%;
  }

  .md-col-7{
    width:58.33333%;
  }

  .md-col-8{
    width:66.66667%;
  }

  .md-col-9{
    width:75%;
  }

  .md-col-10{
    width:83.33333%;
  }

  .md-col-11{
    width:91.66667%;
  }

  .md-col-12{
    width:100%;
  }

}


@media (min-width: 64em){

  .lg-col{
    float:left;
    box-sizing:border-box;
  }

  .lg-col-right{
    float:right;
    box-sizing:border-box;
  }

  .lg-col-1{
    width:8.33333%;
  }

  .lg-col-2{
    width:16.66667%;
  }

  .lg-col-3{
    width:25%;
  }

  .lg-col-4{
    width:33.33333%;
  }

  .lg-col-5{
    width:41.66667%;
  }

  .lg-col-6{
    width:50%;
  }

  .lg-col-7{
    width:58.33333%;
  }

  .lg-col-8{
    width:66.66667%;
  }

  .lg-col-9{
    width:75%;
  }

  .lg-col-10{
    width:83.33333%;
  }

  .lg-col-11{
    width:91.66667%;
  }

  .lg-col-12{
    width:100%;
  }

}


body{
  color:rgb(240, 240, 240);
  background:#222222;
}


a{
  color:rgb(240, 240, 240);
}


a{
  text-decoration:none;
  border-bottom:1px solid rgb(200, 200, 200);
}


a:hover{
  background-color:rgb(80, 80, 80);
  border:0;
}


h1,
h2{
  font-family:noe-display;
}


h1{
  font-family:noe-display;
  font-size:48px;
  font-size:3rem;
}


h2{
  color:rgb(220, 220, 220);
}


.contact a{
  font-size:32px;
  font-size:2rem;
}


.intro{
  font-size:24px;
  font-size:1.5rem;
}


.resume-entry p{
  margin:0;
}


@media (min-width: 52em){
  .second-half{
    padding-top:17.5rem;
    padding-left:2rem;
  }
  .second-half section{
    padding-left:2rem;
  }
}

.subhead {
  font-size: 1.5em;
  margin-top: 0;
}

h1.case-study  {
  margin-top: 0.3em;
  margin-bottom: 0
}

.caption {
  font-size: 0.6em
}

hr {
  border-color: #333333;
}

@keyframes fade-in {
  from {opacity: 0; transform: translateY(-10px)}
  to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.5s;
}
