---
layout: base
---
<div>
  {% header 'Milestone 1', 'Make something', 'Understand the problem space, the product and talk to product experts.' %}
  <div class="max-width-4 mx-auto px1 clearfix">
    <h2>Discovery</h2>
    <div class="md-col md-col-6 pr2">
      <p>As this was to be a companion app to the MYOB desktop product. The first part of discovery was understanding the part of the desktop product we were affecting. Since the goal was to get something out fast, this involved me mapping out the steps required to submit an activity slip on the desktop.</p>
      <p>I also had conversations with our Product Manager as well as other stakeholders within the company to better understand the target audience, and the reasons they used the product.</p>
    </div>
    <div class="md-col md-col-6 pl2">
      <img src="/images/GIF Video.png" alt="Framer Prototype">
      <p class="caption">Fig 1 - The Activity Slip process on the Desktop AccountRight app</p>
    </div>
  </div>
  <div class="max-width-4 mx-auto px1 clearfix">
    <h2>Definition & Design</h2>
    <div class="md-col md-col-3 pr2">
      <img src="/images/Framer-Prototype.png" alt="Framer Prototype">
      <p class="caption">Fig 2 - Framer Prototype, give it a whirl!</p>
    </div>
    <div class="md-col md-col-9 pl2">
      <p>Based on this information, I first started with an extremely rough prototype to map out how we could translate the desktop process into a mobile one. I built out the flow using Framer and had an interactive prototype to generate discussion. I then used the prototype to spark conversations with our developers to understand what was possible, and what was not. The prototype included lots of nods to features that I wanted to understand could be possible.</p>
    </div>
  </div>
  <div class="max-width-4 mx-auto px1 clearfix">
    <h2>Results</h2>
    <div class="md-col md-col-6 pr2">
      <p>After this initial workflow was completed, I spent some time on other projects and not actively working on it. However, the developers took the original concept I did and built out the flows using the prototype as a guide. This allowed us to move really, really fast and get a rough version of the app built out. This meant that we could play with real software on our phone as quickly as possible.</p>
    </div>
    <div class="md-col md-col-6 pl2">
      <img src="/images/GIF Video.png" alt="Framer Prototype">
      <p class="caption">Fig 1 - The Activity Slip process on the Desktop AccountRight app</p>
    </div>
  </div>
  {% header 'Milestone 2', 'Private beta', 'Validate previous work and understand the space a bit deeper.' %}
  <div class="md-col md-col-12">
    <h3>Discovery</h3>
      <ul>
        <li>Usability testing & Interviews</li>
        <li>Understanding how React Native works</li>
      </ul>
      <p>After we had a first cut of the software working on our phones. The next phase of the project was to get feedback from our users as to whether it fit their needs as well as understanding what worked and what didn’t. We spoke to one of our customers who had previously indicated that they would like a mobile time tracking solution.</p>
      <p>The interview and usability test revealed that the time tracking process was core to their business, but that there were a lot of inefficiencies to the way they were doing it right now. It involved recording information in a separate place, like a notebook and then spending time on a computer at some time during the week to upload the information to our desktop software. They’ve been long asking for a mobile solution to upload this information. This insight validated the product direction that we were going in.</p>
      <p>I also spent some time with our development team understanding the technology behind React Native and how the code compiles to native iOS & Android components. This information was really useful to the wider design team and I to understanding what kind of components and visual style we could use within the app. This helped me better understand the constraints and what we got out of the box with react native. This helped me understand what cases to handle with the design and to know what would be taken care of.</p>
    <h3>Definition & Design</h3>
      <ul>
        <li>Updated flows</li>
        <li>Prioritising key workflows</li>
        <li>Identifying places for future improvements</li>
      </ul>
      <p>Collating all the feedback let us make improvements to the existing flow we had. For example, some of the feedback we received indicated that users preferred to enter information in their own way as opposed to entering it in the flow that we made. In order to fix this issue, we changed the order of the flow to allow people to add in information as they liked.</p>
      <p>The conversations we had with our users also allowed us to understand what the key workflows were within the app and to identify other opportunities to build out the app. For example, we began to understand that an equivalent of the app was a diary, where people were recording their work related information.</p>
    <h3>Results</h3>
      <p>As a result of the work we did in this loop,  we were able to get a version of the app that we felt comfortable in releasing to our first wave of beta testers.</p>
      <p>addition to the workflows we changed as part of the feedback rounds, we spent time setting up the help and feedback portals for the beta process. This helped us later in the process to scale our feedback gathering to improve the product.</p>
  </div>
  <div class="md-col md-col-12">
    <h1>Milestone 3</h1>
    <h3>Goal - Release to open beta</h3>
      <p>Refine design, add requested features</p>
    <h3>Discovery</h3>
      <ul>
        <li>Responding to beta feedback</li>
        <li>Usability tests</li>
      </ul>
    <h3>Definition & Design</h3>
      <ul>
        <li>Updated visual language - Working with other designers at MYOB</li>
        <li>Add a timer</li>
      </ul>
      <p>In order to aid mobile development of other apps within MYOB, we used this knowledge to establish a common mobile design style guide to be used across different MYOB mobile apps.</p>
    <h3>Results</h3>
      <p>Release to open beta</p>
  </div>
</div>
