---
layout: base
---
<div class="max-width-3 mx-auto px1 mt3 clearfix hidden">
  <div class="md-col md-col-7">
    <span class="milestone">Case Study</span>
    <h1 class="case-study">Time Tracking for AccountRight</h1>
    <p class="subhead">Enabling MYOB customers to capture billable activities on their phone.</p>
    <p>Businesses track the time of their employees for a variety of purposes. They can use it to measure effectiveness or trade using their time (e.g. consultants). MYOB provides a set of Time Tracking & Billing tools in their flagship desktop accounting software which is used by thousands of businesses in Australia.</p>
    <p>Each "activity" or "job" done by an employee required an "activity slip" to be submitted using the desktop application. This often meant that people who were required to submit these reports often had to record them somewhere else and then log on to their computer to then enter them into the accounting system. We found that people were often logging these times either late at night or late during the week. This meant that businesses were having to deal with errors in entry which could cause clients to be wrongly charged, or for employees to be paid incorrectly.</p>
    <p>We wanted to create a way where users could independently submit this information on the go, so that they could enter information as soon as the job was done. A mobile app seemed the best way to achieve this outcome.</p>
    <p>I was responsible as a Product Designer for this project. Together with a development team, I worked in iterative cycles with a focus on delivering working software at the end of each round. Our customers helped us shape every iteration through interviews, usability tests and beta feedback.</p>
  </div>
  <div class="md-col md-col-5 p2">
    <img src="/images/App.png" alt="Preview of the app" />
  </div>
</div>
{# Milestone 1 #}
{% header 
  'Iteration 0', 
  'Make something', 
  'Understand the problem space, the product and talk to product experts.' 
%}
{% contentBlock 
  6,
  '<p>As this was to be a companion app to the MYOB desktop product, I mapped out the steps required to submit an activity slip on the desktop & initiated conversations with our Product Manager and other stakeholders.</p>',
  '<video width="100%" loop controls><source src="/images/desktop-time-billing.mp4"></video>
  <p class="caption">Fig 1 - The Activity Slip process on the Desktop AccountRight app</p>'
%}
{% contentBlock
  3,
  '<video width="100%" loop autoplay controls><source src="/images/framer-prototype.mp4"></video>
  <p class="caption">Fig 2 - Framer Prototype</p>',
  '<p>Based on this information, I first started with an extremely rough prototype using Framer. I used the prototype to spark conversations with our developers to understand what was possible. The prototype included lots of nods to features that I wanted to understand could be possible.</p>'
%}
{% contentBlock
  8,
  '<p>The developers took this prototype and built out the flows using it as a guide. This allowed us to move fast and get a rough version of the app built out so that we could play with real software as quickly as possible.</p>',
  '<img src="/images/New-activity-screen.png" alt="New Activity screen">
  <p class="caption">Fig 3 - The submit activity slip screen on the initial app</p>'
%}
{# Milestone 2 #}
{% header 
  'Iteration 1', 
  'Private beta', 
  'Validate previous work and understand the space a bit deeper.' 
%}
{% contentBlock
  4,
  '<img src="/images/usability-mobile.jpg" alt="Framer Prototype">
  <p class="caption">Fig 4 - The submit activity slip screen on the initial app</p>',
  '<p>We took this first cut of the software to one of our customers to understand how well the initial prototype fit their needs. The interview and usability test revealed that the time tracking process was core to their business, but that there were a lot of inefficiencies to the way they were doing it right now. They were currently recording this information in a notebook and then spending time on a computer later in the night to upload the information to our desktop software. </p>'
%}
{% contentBlock
  6,
  '<p>I made improvements to the existing flow by collating all the feedback. For example, we found that users preferred to enter information in their own way as opposed to entering it in a sequential flow.</p>
  <p>The conversations we had with our users also allowed us to understand what the key workflows were within the app and to identify future opportunities. For example, we began to understand that an equivalent of the app was a diary for someones workday.</p>',
  '<img src="/images/updated-flows.png" alt="Updated flows">
  <p class="caption">Fig 5 - An example of how the flows were changed</p>'
%}
{% contentBlock
  12,
  '<p>We were able to get a version of the app that we felt comfortable in releasing to our first wave of beta testers due to this feedback cycle. In addition to the workflows we changed as part of the feedback rounds, we set up the help and feedback portals for the beta process. This helped us later in the process to scale our feedback gathering to improve the product.</p>'
%}
{# Milestone 3 #}
{% header 
  'Iteration 2', 
  'Open beta', 
  'Refine design, add 
  requested features' 
%}
{% contentBlock
  12,
  '<p>After the initial beta, we kept our customers close by the way of bug reports, feature requests as well as another round of usability tests. The priority of this iteration was to understand what needed tightening with the app so that we could promote it to general availability. </p>'
%}
{% contentBlock
  6,
  '<p>Based on the feedback, we added features, fixed many small bugs and workflow issues. We also shipped a timer to the app as it was one of the most requested features from our customers. After this work was completed, we promoted the app to general availability.</p>
  <p>N.B. The Time Tracking app has since been renamed to Invoicing for AccountRight.</p>',
  '<img src="/images/ui-refresh.png" alt="Refreshed UI">
  <p class="caption">Fig 6 - The refreshed UI, complete with the timer</p>'
%}
{% contentBlock
  12,
  '<p>To aid development of other apps within the company, I also worked with designers at MYOB  to establish a common mobile design system to be used across different MYOB mobile apps.</p>
  <a href="https://apps.apple.com/au/app/time-tracking-for-accountright/id1436800959?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-04-17&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a><a href="https://play.google.com/store/apps/details?id=com.myob.track&hl=en_AU&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="135" height="40"/></a>'
%}
<script>
  var animateHTML = function() {
    var elems;
    var windowHeight;
    function init() {
      elems = document.querySelectorAll('.hidden');
      windowHeight = window.innerHeight;
      addEventHandlers();
      checkPosition();
    }
    function addEventHandlers() {
      window.addEventListener('scroll', checkPosition);
      window.addEventListener('resize', init);
    }
    function checkPosition() {
      for (var i = 0; i < elems.length; i++) {
        var positionFromTop = elems[i].getBoundingClientRect().top;
        if (positionFromTop - windowHeight <= 0) {
          elems[i].className = elems[i].className.replace(
            'hidden',
            'fade-in-element'
          );
        }
      }
    }
    return {
      init: init
    };
  };
  animateHTML().init();
</script>
